/* Estilos para la paginación */
.pagination {
  margin-top: 20px;
}

.pagination .page-item {
  display: inline-block;
  margin-right: 5px;
}

.pagination .page-item .page-link {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-decoration: none;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination .page-item.disabled .page-link {
  color: #ccc;
  pointer-events: none;
}

.pagination .page-item .page-link:hover {
  background-color: #eee;
}
